/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'Gill Sans', sans-serif;
}

/* navBar */
.bm-burger-button {
  
  width: 36px;
  height: 30px;
  left: 36px;

  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}  

.bm-burger-bars-hover {
  background: #a90000;

}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 0.3rem 0.3rem 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {

  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* styling next link component so that will be a column list of links*/
.bm-item-list a {
  display: flex;
  flex-direction: column;
}

/* NavBar CSS */



/* Sign in box CSS */

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #b4c5e4, #090c9b);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.login,
.signup {
  width: 45%;
}

.signup {
  color: #fbfff1;
  padding-right: 15px;
}

input[type="text"], input[type="email"], input[type="password"], button {
  border-radius: 5px;
  background-color: #fbfff1;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
}

button {
  background-color: #090c9b;
  color: #fbfff1;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #b4c5e4;
}


@media (max-width: 600px) {
  .box {
    flex-direction: column;
  }

  .login, .signup {
    width: 100%;
    margin-bottom: 20px;
  }

  input[type="text"], input[type="email"], input[type="password"], button {
    font-size: 14px;
  }
}

/* Need Help Popup */
body.active-help {
  max-height: 80vh;
  overflow-y: auto;
}

.help-content::-webkit-scrollbar {
  width: 8px;
}

.help-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.help-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.btn-help {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.help, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.help-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 900px;
  min-width: 560px;
  max-height: 700px;
  overflow: auto;
}

.close-help {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

 
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Need Help Popup */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  width: 200px;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* minigraphs */
.mini-graph-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 2%, 2%
}

.mini-graph {
  width: 20%;
  margin-right: 2%;
}

/* Function Page CSS */

.function {
  font-size: larger;
  padding: 3;
}
/* General CSS */


/* Footer CSS */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Form CSS */
.form-btns{
  display: inline-flex;
  gap: 15%;
  width: 40%;
}

.inputField{
  padding: 0.5%;
  margin-left: 5%
}

/* Home Page */

/* .content {
  display: none;
} */